.jambotron
  background-color white
  margin 10rem auto
  max-width 1200px

.avatar
  border-radius 100%

.mainHeader
  margin 0.35rem 0 0.75rem
  font-size 3.25rem
  letter-spacing -0.025rem
  font-weight 300
  color #3e3e3e