.jambotron
  background-color white
  margin 10rem auto
  max-width 1200px
  &__description
    font-size 1.6rem
    line-height 3rem
    font-weight 300
    margin-bottom 3rem

@media (max-width 768px)
  .jambotron
    text-align center

.avatar
  border-radius 100%
  max-width 100%

.mainHeader
  margin 0.35rem 0 3.75rem
  font-size 3.5rem
  letter-spacing -0.025rem
  font-weight 300
  color #3e3e3e
  line-height 3.5rem