.portfolio
  @extend $shadowSection_white
  background url('./images/bg.png')
  text-align center
  padding-bottom 8rem

.portfolioItem
  @extend $shadowBlock
  background white
  text-align center
  padding-bottom 2rem
  margin-bottom 30px
  &__image
    img
      display block
      width 100%
  &__caption
    margin-top 2rem
    margin-bottom 0
    a
      text-decoration none
      color black
      transition .3s ease-in-out
    a:hover
      color #43bff0
  &__description
    margin 0
    color #bbb
    letter-spacing -0.025rem
    font-weight 300
    


