.wrapper1
  box-shadow inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1)
  background url('images/bg.png')
  background-color #fafafa
  padding 8rem 0
  
.services
  @extend $shadowText_white
  text-align center
  &__item
    @extend $shadowBlock
    background-color white
    padding 3rem 2rem 3.5rem 2rem
    margin-bottom 30px
  &__icon
    color #ea8a95
    margin 0 0 1.5rem 0
    font-size 6.5rem
.item__caption
  color #3e3e3e
  font-size 1.7rem
  letter-spacing -0.015rem
  margin 0 0 0.75em 0
  
@media (max-width: 991px)
  .wrapper1
    padding 4rem 0
