.section.contactUs(name='contactUs')
  .container
    .sectionHeader
      h2.sectionHeader__caption.sectionHeader__caption_footer
        | Have me make stuff for you.
      p.sectionHeader__description.sectionHeader__description_footer
        | Ornare nulla proin odio consequat sapien vestibulum ipsum sed lorem.
    .row
      .col-sm-6.input_block
        input(type="text" value="Name")
      .col-sm-6.input_block
        input(type="email" value="Email")
      .col-sm-12.input_block
        input(type="subject" value="Subject") 
      .col-sm-12.input_block
        textarea(cols="90" rows="5") Message
      .col-sm-12
        button.button_blue.button(href='#')
          | Send Message
        button.button_gray.button(href='#')
          | Clear Form
    hr.delimeter
