.section.copyrights
  .container
    ul.copyrights__listItems
      li.copyrights__listItems__item.
        © Untitled. All rights reserved.
      li.copyrights__listItems__item.
        Design: <a href='#'>HTML5 UP</a>
      li.copyrights__listItems__item.
        Demo Images: <a href='#'>Unsplash</a> 