doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="style.css")
  body
    include ./navbar.jade
    include ./jambotron.jade
    include ./services.jade
    include ./portfolio.jade
    include ./contactUs.jade
    include ./socials.jade
    include ./copyrights.jade
