section.jambotron(id='top')
  .container
    .row
      .col-sm-5.col-md-4
        img.avatar(src='images/avatar.png')
      .col-sm-7.col-md-8
        h1.mainHeader Hi. I'm <strong>Jane Doe</strong>.
        p.jambotron__description And this is <b>Miniport</b>, a free, fully responsive HTML5 site template designed by <a class='link' href='#''>AJ</a> for <a class='link link_uppercase' href='#''>HTML5 UP</a> & released under the <a class='link' href='#'>CCA license</a>.
        a.button_blue.button(href='#') Learn about what I do