nav.navbar
  label.mainMenu__switcher(for='menu') Menu 
    i.fa.fa-bars 
  input(hidden id='menu' type='checkbox')
  ul.mainMenu
    li.mainMenu__item 
      a.mainMenu__button(href="#") Top
    li.mainMenu__item
      a.mainMenu__button(href="#services") Services
    li.mainMenu__item
      a.mainMenu__button(href="#portfolio") Portfolio
    li.mainMenu__item
      a.mainMenu__button(href="#contactUs") Contact