label(for='navbar__switcher').navbar__switcher
  |Menu
  i.fa.fa-bars(aria-hidden='true')

input#navbar__switcher.navbar__switcher(type='checkbox')

nav.navbar
  label(for='navbar__switcher').navbar__switcher
    i.fa.fa-times.fa-2x.cross(aria-hidden='true')
  ul.navbarList
    li.navbarList__item
      a(href="#top")
        |Top
    li.navbarList__item
      a(href="#work")
        |Work
    li.navbarList__item
      a(href="#portfolio")
        |Portfolio
    li.navbarList__item
      a(href="#contact")
        |Contact
