.section.portfolio(name='portfolio')
  .container
    h2
      | Here’s some stuff I made recently.
    p
      | Proin odio consequat sapien vestibulum consequat lorem dolore feugiat 
      | lorem ipsum dolore.
    .container
      .row
        .col-md-4.col-sm-12
          .portfolioItem
            a.portfolioItem__image(href='#')
              img(src='./images/portfolio_1.png')
            h3.portfolioItem__caption
              a(href='#') Magna feugiat
            p.portfolioItem__description Ornare nulla proin odio consequat.

        .col-md-4.col-sm-12
          .portfolioItem
            a.portfolioItem__image(href='#')
              img(src='./images/portfolio_2.png')
            h3.portfolioItem__caption
              a(href='#') Veroeros primis
            p.portfolioItem__description Ornare nulla proin odio consequat.

        .col-md-4.col-sm-12
          .portfolioItem
            a.portfolioItem__image(href='#')
              img(src='./images/portfolio_3.png')
            h3.portfolioItem__caption
              a(href='#') Lorem ipsum
            p.portfolioItem__description Ornare nulla proin odio consequat.

        .col-md-4.col-sm-12
          .portfolioItem
            a.portfolioItem__image(href='#')
              img(src='./images/portfolio_4.png')
            h3.portfolioItem__caption
              a(href='#') Tempus dolore
            p.portfolioItem__description Ornare nulla proin odio consequat.

        .col-md-4.col-sm-12
          .portfolioItem
            a.portfolioItem__image(href='#')
              img(src='./images/portfolio_5.png')
            h3.portfolioItem__caption
              a(href='#') Feugiat aliquam
            p.portfolioItem__description Ornare nulla proin odio consequat.

        .col-md-4.col-sm-12
          .portfolioItem
            a.portfolioItem__image(href='#')
              img(src='./images/portfolio_6.png')
            h3.portfolioItem__caption
              a(href='#') Sed amet ornare
            p.portfolioItem__description Ornare nulla proin odio consequat.

    p
      | Lorem ipsum dolor sit sapien vestibulum ipsum primis?
    button Get in touch with me