.wrapper1
  section.services(name='services')
    header.sectionHeader
      h2.sectionHeader__caption Here's all the stuff I do.
      p.sectionHeader__description Odio turpis amet sed consequat eget posuere consequat.
    .container
      .row
        .col-md-4
          .services__item
            i.fa.fa-comments-o.services__icon
            h3.item__caption Consequat lorem
            p Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
        .col-md-4
          .services__item
            i.fa.fa-camera-retro.services__icon
            h3.item__caption Lorem dolor tempus
            p Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
        .col-md-4
          .services__item
            i.fa.fa-thumbs-o-up.services__icon
            h3.item__caption Feugiat posuere
            p Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
      p.question Lorem ipsum dolor sit sapien vestibulum ipsum primis?
      a.button_blue.button See some of my recent work


