.section.socials
  .container
    h2.sectionHeader__caption.sectionHeader__caption_footer 
      | Find me on ...
    ul.social
      li.social__icon.social__icon_twitter
        a(href='#')
          i.fa.fa-twitter
      li.social__icon.social__icon_facebook
        a(href='#')
          i.fa.fa-facebook
      li.social__icon.social__icon_dribbble
        a(href='#')
          i.fa.fa-dribbble
      li.social__icon.social__icon_linkedin
        a(href='#')
          i.fa.fa-linkedin
      li.social__icon.social__icon_tumblr
        a(href='#')
          i.fa.fa-tumblr
      li.social__icon.social__icon_google
        a(href='#')
          i.fa.fa-google-plus
      li.social__icon.social__icon_github
        a(href='#')
          i.fa.fa-github
