.sectionHeader
  margin0 0 0 3rem 0
  &__caption
    margin 0 0 0.75rem 0
    font-weight 700
    font-size 2em
    letter-spacing -0.015em
    color #3e3e3e
  &__description
    font-size 1.4rem
    margin 0
    font-weight 300
    letter-spacing -0.025rem