@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import '../components/grid.styl'

*
  box-sizing border-box

body
  font 13pt/1.85 'Open Sans', sans-serif
  color #888
  margin 0
  font-weight 300

@media (max-width 1200px)
  body
    font-size 12pt
@media (max-width 991px)
  body
    font-size 11pt

strong, b
  color #3e3e3e

img 
  max-width 100%
  
