@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
@import '../components/grid.styl'
body
  font 13pt/1.85 'Open Sans', sans-serif
  
*
  box-sizing border-box

img 
  max-width 100%